version: '3'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: django
      POSTGRES_PASSWORD: postgres
    ports:
      - ${DOCKER_POSTGRES_PORT-5432}:5432
    volumes:
      - pg_data:/var/lib/postgresql/data

  arangodb:
    image: arangodb:3.8
    ports:
      - "${ARANGO_PORT:-8529}:8529"
    environment:
      - ARANGO_ROOT_PASSWORD=${ARANGO_PASSWORD:-letmein}
    volumes:
      - "arango_data:/var/lib/arangodb3"
      - "arango_apps:/var/lib/arangodb-apps"

  rabbitmq:
    image: rabbitmq:management
    ports:
      - ${DOCKER_RABBITMQ_PORT-5672}:5672

  minio:
    image: minio/minio:latest
    # When run with a TTY, minio prints credentials on startup
    tty: true
    command: ["server", "/data"]
    environment:
      MINIO_ACCESS_KEY: minioAccessKey
      MINIO_SECRET_KEY: minioSecretKey
    ports:
      - ${DOCKER_MINIO_PORT-9000}:9000


volumes:
  arango_data:
  arango_apps:
  pg_data:
